.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: greenyellow;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-form {
  background-color: white;
  width: 30vh;
  height: 30vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search {
  background-color: white;
  width: 30vh;
  height: 30vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}