<main class="main">
  <section class="container">
    <div>
      <form action="#" id="search-form" [formGroup]="cepForm" (ngSubmit)="procurar()" *ngIf="endereco == undefined">
        <img src="../assets/pinlocalizacao.png" alt="pindelocalização" width="100vh" height="100vh">
        <mat-form-field appearance="outline">
          <mat-label>CEP</mat-label>
          <input type="text" matInput formControlName="numeroCep">
        </mat-form-field>
        <button mat-flat-button color="accent" matTooltip="Procurar Usuário" [disabled]>
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </div>
    <div id="search" *ngIf="endereco!= undefined">
      <img src="../assets/pinlocalizacao.png" alt="pindelocalização" width="80vh" height="80vh" style="padding-bottom: 5px;">
      <p>Cep: {{endereco.cep}}</p>
      <p>Logradouro: {{endereco.logradouro}}</p>
      <p>Bairro: {{endereco.bairro}}</p>
      <p>Cidade: {{endereco.localidade}}</p>
      <p>Estado: {{endereco.uf}}</p>
    </div>
  </section>
</main>